# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

#ignore virtual environment
/BedrockResponseStreaming/.venv
/.venv

#Ignore the cdk.out folder
/BedrockResponseStreaming/cdk.out